$white: #fff;
$black: #000;

$green: #299E00;
$green-light: #6AF531;
$green-dark: #00A333;

$red: #BB0606;
$red-light: #EB5631;
$red-dark: #901700;

$button: #284CC9;

$title: #98A1A8;
$caption: #919AA0;

$type: #3E5769;


$colors: (
  'green': $green,
  'green-light': $green-light,
  'green-dark': $green-dark,
  'red': $red,
  'red-light': $red-light,
  'red-dark': $red-dark,
);
